/* Genel stil */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  border: 1px solid #000;
  margin: 0 auto;
}

img {
  display: block;
}

h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-weight: bold;
}

h3 {
  font-weight: medium;
  letter-spacing: 2%;
  line-height: 1.2;
}

ul {
  list-style: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  border-bottom: 1px solid #e7e9fc;
  flex-direction: row;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  overflow: hidden;
}

.header .div-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

nav {
  display: flex;
  align-items: center;
}

.nav-list {
  padding: 24px 0;
  position: relative;
  text-decoration: none;
  color: inherit;
}

.nav-list:hover {
  color: #404bbf;
}

.nav-list::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #404bbf;
}

.list {
  display: flex;
  gap: 40px;
}

nav ul li {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-one {
  font-weight: 700;
  font-size: 18px;
  color: #404bbf;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  margin-right: 76px;
  position: relative;
}

.logo-one > .logo-studio {
  color: #2e2f42;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.address-menu {
  display: flex; /* Flex düzeni aktif */
  gap: 16px; /* İki öğe arasında boşluk */
  align-items: center; /* Dikey ortalama */
  margin-left: 332px;
  gap: 40px;
}

.address-menu ul {
  display: flex; /* Liste öğeleri yan yana */
  gap: 40px; /* Linkler arası boşluk */
  list-style: none; /* Noktaları kaldır */
  padding: 0; /* Varsayılan boşlukları kaldır */
  margin: 0;
}

.address-menu li {
  display: inline-block; /* Yan yana durması için */
}

.address-mail-tel {
  text-decoration: none; /* Alt çizgiyi kaldır */
  color: #434455; /* Varsayılan renk */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  transition: color cubic-bezier(0.4, 0, 0.2, 1);
}

.address-mail-tel:hover {
  color: #404bbf; /* Hover rengi */
}

/* Section 1 - Hero */
.hero-image {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 1440px;
  padding: 188px 0;
  margin: 0 auto;
}

.hero-image .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  position: relative;
  overflow: hidden;
}

.hero-image-title {
  color: white;
  font-size: 56px;
  letter-spacing: 2%;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1.07;
  max-width: 496px;
}

.hero-image-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.5;
  min-width: 169px;
  height: 56px;
  border-style: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-image-button:hover {
  background-color: #404bbf;
}

/* Section 2 */
.peculiarities-section {
  display: flex;
  justify-content: center;
  margin: 0 156px;
  padding: 120px 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two-list {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.section-two-list li {
  width: calc((100% - 72px) / 4);
}

.section-two-title {
  margin-bottom: 8px;
}


.icon-peculiarities {
  display: flex;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #8e8f99;
  border-radius: 4px;
  align-items: center;
  margin-bottom: 8px;
}

/* Section 3 - Our Team */
.our-team-section {
  background-color: #f4f4fd;
  display: flex;
  padding: 120px 0;
}

.our-team-header {
  margin-bottom: 72px;
}

.our-team-ul {
  display: flex;
  gap: 24px;
  padding: 0;
}

.our-team-list {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-info {
  text-align: center;
  padding: 32px 0;
  background-color: #ffffff;
}

.our-team-socialmedia-icon {
  fill: #f4f4fd;
}

.our-team-socialmedia-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
  padding: 0;
}

.our-team-socialmedia-link {
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-socialmedia-link:hover {
  background-color: #404bbf;
}

.our-team-socialmedia-link:focus {
  background-color: #404bbf;
}

.our-team-title {
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  color: #2e2f42;
  padding: 0;
  margin: 0;
}

.our-team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* Section 4 - Portfolio */
.our-portfolio-section {
  display: flex;
  padding: 120px 0;
}

.our-portfolio-header {
  margin-bottom: 72px;
}

.our-portfolio-section ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 24px;
  row-gap: 48px;
}

.our-portfolio-list {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0%);
}

.our-portfolio-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

.portfolio-title {
  font-size: 20px;
  color: #2e2f42;
  padding: 0;
  margin: 0;
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-images {
  position: relative;
  overflow: hidden;
}

.portfolio-images-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-images:hover .portfolio-images-text {
  transform: translateY(0);
}

/* Footer */
.footer {
  background-color: #2e2f42;
  width: 100%;
  height: 312px;
  color: #f4f4fd;
  padding: 100px 0;
  margin: 0 auto;
  max-width: 1440px;
}

.footer .container {
  display: flex; /* İki div'i yan yana getirmek için */
  align-items: baseline;
  margin-left: 156px;
}

.footer-logo-section {
  margin-right: 120px;
}

/* Sol taraftaki logo ve metin div'i */
.footer-logo {
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.footer-logo > .footer-logo-span {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/* Sağ taraftaki social media div'i */
.footer-socialmedia {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer-socialmedia-text {
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #ffffff;
}

.footer-socialmedia-list {
  display: flex;
  gap: 16px;
  padding: 0;
}

.footer-socialmedia-link {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socialmedia-link:hover {
  background-color: #31d0aa;
}

.footer-socialmedia-link:focus {
  background-color: #31d0aa;
}

.footer-socialmedia-icon {
  fill: #f4f4fd;
}
