body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
}

h3 {
  font-weight: 500;
  line-height: 20px;
  line-height: 1.2;
}

ul {
  list-style: none;
  list-style-type: none;
}

li {
  list-style: none;
}

header {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 2%;
  font-weight: normal;
}

.logo-one {
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.logo-one > .logo-studio {
  color: #2e2f42;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
}
nav ul li {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

nav ul li a {
  text-decoration: none; /* Alt çizgiyi kaldırır */
  color: inherit; /* Rengi miras alır */
}

.nav-list:hover,
.nav-list:active header nav,
.nav-list:focus {
  color: #404bbf; /* Üzerine gelindiğinde renk değişir */
}

.address-menu ul {
  font-style: normal; /* İtalik stili kaldırır */
}

.address-mail-tel {
  text-decoration: none; /* Alt çizgiyi kaldırır */
  color: #434455;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-mail-tel:hover,
.address-mail-tel:focus,
.address-mail-tel:active {
  color: #404bbf;
}

/*main*/
/* Section 1 Start*/

.hero-image {
  background-color: #2e2f42;
}

.hero-image-title {
  color: white;
  font-size: 56px;
  letter-spacing: 2%;
  font-weight: bold;
  text-align: center;
}

.hero-image-title {
  letter-spacing: 0.02em;
  line-height: 1.07;
}

.hero-image-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.5;
}

.hero-image-button:hover,
.hero-image-button:focus {
  background-color: #404bbf;
}
/*section 1 End */

/*section 2 Start */

.section-2-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-2-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*section 2 End */

/*section 3 Start */

.our-team-section {
  background-color: #f4f4fd;
}

.our-team-list {
  background-color: #ffffff;
}

.our-team-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*section 3 End */

/*section 4 Start */

.portfolio-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/*section 4 End */

/* Footer Start */
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

.footer-logo {
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.footer-logo > .footer-logo-span {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Footer End*/
