/* Genel stil */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  border: 1px solid #000;
  margin: 0 auto;
}

img {
  display: block;
}

h2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  font-weight: bold;
}

h3 {
  font-weight: medium;
  letter-spacing: 2%;
  line-height: 1.2;
}

ul {
  list-style: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  border-bottom: 1px solid #e7e9fc;
  flex-direction: row;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header .div-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

nav {
  display: flex;
  align-items: center;
}

.nav-list {
  padding: 24px 0;
}

nav ul {
  display: flex;
  gap: 40px;
}

nav ul li {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

nav ul li a:hover {
  color: #404bbf;
}

.logo-one {
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  margin-right: 76px;
}

.logo-one > .logo-studio {
  color: #2e2f42;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.address-menu {
  display: flex; /* Flex düzeni aktif */
  gap: 16px; /* İki öğe arasında boşluk */
  align-items: center; /* Dikey ortalama */
  margin-left: 332px;
}

.address-menu ul {
  display: flex; /* Liste öğeleri yan yana */
  gap: 40px; /* Linkler arası boşluk */
  list-style: none; /* Noktaları kaldır */
  padding: 0; /* Varsayılan boşlukları kaldır */
  margin: 0;
}

.address-menu li {
  display: inline-block; /* Yan yana durması için */
}

.address-menu a {
  text-decoration: none; /* Alt çizgiyi kaldır */
  color: #434455; /* Varsayılan renk */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.address-menu a:hover {
  color: #404bbf; /* Hover rengi */
}

/* Section 1 - Hero */
.hero-image {
  background-color: #2e2f42;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 188px 0;
}

.hero-image .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.hero-image-title {
  color: white;
  font-size: 56px;
  letter-spacing: 2%;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1.07;
  max-width: 496px;
}

.hero-image-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  border: 1px solid #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.5;
  min-width: 169px;
  height: 56px;
  border-style: none;
}

.hero-image-button:hover {
  background-color: #404bbf;
}

/* Section 2 */
.peculiarities-section {
  display: flex;
  justify-content: center;
  margin: 0 156px;
  padding: 120px 0px;
}

.visually-hidden {
  display: none;
}

.section-2-list {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.section-2-list li {
  width: calc((100% - 72px) / 4);
}

.section-2-title {
  margin-bottom: 8px;
}

/* Section 3 - Our Team */
.our-team-section {
  background-color: #f4f4fd;
  display: flex;
  padding: 120px 0;
}

.our-team-header {
  margin-bottom: 72px;
}

.our-team-section ul {
  display: flex;
  gap: 24px;
  padding: 0;
}

.our-team-list {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}

.team-info {
  text-align: center;
  padding: 32px 0;
  background-color: #ffffff;
}

.our-team-title h3 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  color: #2e2f42;
  padding: 0;
  margin: 0;
}

.our-team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* Section 4 - Portfolio */
.our-portfolio-section {
  display: flex;
  padding: 120px 0;
}

.our-portfolio-header {
  margin-bottom: 72px;
}

.our-portfolio-section ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 24px;
}

.our-portfolio-list {
  width: calc((100% - 48px) / 3);
}

.portfolio-info {
  padding: 32px 16px;
  text-align: center;
  border: 1px solid #e7e9fc;
  margin-bottom: 8px;
  border-top: none;
}

.portfolio-title {
  font-size: 20px;
  color: #2e2f42;
  padding: 0;
  margin: 0;
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  background-color: #2e2f42;
  width: 100%px;
  height: 312px;
  color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.footer-logo > .footer-logo-span {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
